.section--primary {
	color: $cl-white;
	background: linear-gradient(to bottom, $cl-quaternary 0%, darken($cl-quaternary, 5%) 100%);

	h1 {
		color: $cl-white;
	}
}

.section--secondary {
	color: $cl-white;
	background: linear-gradient(to bottom, $cl-secondary 0%, darken($cl-secondary, 5%) 100%);

	h1 {
		color: $cl-white;
	}
}

.section--tertiary {
	color: $cl-white;
	background: linear-gradient(to bottom, $cl-primary 0%, darken($cl-primary, 5%) 100%);

	a {
		color: $cl-white;
	}

	h1 {
		color: $cl-white;
	}
}
